@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

#center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cl-internal-b3fm6y {
  display: none;
}

.cl-userButtonPopoverFooter {
  display: none;
}

.cl-navbar {
  display: none;
}

.cl-profileSectionPrimaryButton {
  color: #fff;
}

.cl-profileSectionPrimaryButton:hover {
  background: #3d3d40;
}

.cl-badge {
  background-color: transparent;
  color: #ffb5cf;
}

.discord-messages,
.discord-embed-wrapper {
  background-color: rgb(0 0 0 / 0.25) !important;
  @apply rounded-2xl;
}

.discord-embed-wrapper {
  border: none !important;
}

.discord-message-timestamp {
  display: none;
}

.noHover {
  /* using this instead of pointer-events none for the button hover */
  transition: all 100s ease-in-out;
}
